
<h2>The Uprising!!</h2>

<p>Welcome to the uprising!  Your mission lays before you but fear not! You are not alone.  Many have come this way, many will fail, drinking the same great beers over and over, but you my friend will not fall victim to this.  Here he will help you on your journey.  Join us and long live the Uprising!</p>

